@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #141420;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
